/* reset styles */
* {
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(255, 255, 255);
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

.submit-btn {
  background-color: transparent;
  width: 130px;
  color: black;
  padding: 10px 20px;
  border-radius: 20px;
  border: solid 2px black;
  display: block;
  margin: 0 auto;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.submit-btn:hover {
  background-color: rgb(44, 44, 44);
  color: white;
}

.header {
  color: black;
  position: relative;
  transition: color 0.5s ease-in-out;
  margin-top: 2rem;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 0.7;
}
@media (min-width: 960px) {
  .header {
    font-size: 200px;
  }
}

.header.active-anim {
  color: aqua;
}

.header::after {
  content: "";
  position: absolute;
  left: 0;
  margin-top: -35px;
  z-index: -1;
  width: 80%;
  height: 70px;
  background-color: aqua;
  transition: all 0.5s ease;
}
@media (min-width: 960px) {
  .header::after {
    margin-top: -100px;
    height: 20px;
  }
}

.header.active-anim::after {
  background-color: rgb(28, 28, 28);
  left: -10px;
  width: 130%;
  height: 125%;
  transform-origin: bottom;
}
@media (min-width: 960px) {
  .header.active-anim::after {
    margin-top: -160px;
    border-radius: 20px;
    width: 100%;
  }
}

.logo {
  margin-top: 1rem;
  padding: 10px 10px;
  border-bottom: 1.2px solid rgba(0, 0, 0, 0.7);
  border-top: 1.2px solid rgba(0, 0, 0, 0.7);
}
@media (min-width: 960px) {
  .logo {
    padding: 10px 20px;
  }
}

.logo h3 {
  font-weight: 600;
  font-size: 20px;
}

main {
  margin: 0;
  padding: 10px;
}
@media (min-width: 960px) {
  main {
    margin: 20px 100px;
    padding: 20px 20px 50px 20px;
  }
}

.para {
  max-width: 300px;
  margin-top: 20px;
  transition: all;
}

.para p {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}

.para.active p {
  color: aqua;
}

/* FORM */
.form-container {
  display: flex;
  gap: 0rem;
  flex-direction: column;
}
@media (min-width: 960px) {
  .form-container {
    flex-direction: row;
    gap: 5rem;
  }
}

form {
  max-width: 600px;
  width: 100%;
  margin-top: 2rem;
  padding: 20px 20px;
  border-radius: 20px;
  border: solid 2px black;
  position: relative;
}
@media (min-width: 960px) {
  form {
    margin-top: 7rem;
  }
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.6rem;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.form-group input:focus main:hover h1::after {
  background-color: aquamarine;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-info-list {
  margin-top: 2rem;
  margin-bottom: 2rem;
  list-style-type: none;
}
@media (min-width: 960px) {
  .contact-info-list {
    margin-top: 7rem;
    max-width: 600px;
  }
}

.contact-list-item:not(:first-child) {
  margin-top: 1rem;
}

.contact-list-item a {
  color: black;
  text-decoration: none;
  font-size: 14px;
}
@media (min-width: 960px) {
  .contact-list-item a {
    padding: 10px 20px;
    border-radius: 20px;
    border: solid 2px black;
  }
}

.contact-list-item a p {
  font-weight: 500;
}

.contact-list-item span svg {
  width: 100%;
  max-width: 24px;
  height: auto;
}
@media (min-width: 960px) {
  .contact-list-item span svg {
    max-width: 30px;
  }
}

.contact-list-item a {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  transition: all 0.5s ease-in-out;
}
@media (min-width: 960px) {
  .contact-list-item a {
    gap: 1rem;
  }
}

.contact-list-item:hover a {
  color: aqua;
}
@media (min-width: 960px) {
  .contact-list-item:hover a {
    transform: translateX(15%);
    background-color: rgb(44, 44, 44);
  }
}

.contact-list-item:hover svg path {
  transition: all 0.5s ease-in-out;
  stroke: aqua;
}

.submission-alert {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  display: none;
}

.submission-alert.show {
  display: flex;
}

.submission-alert svg {
  width: 55px;
  fill: rgb(255, 255, 255);
  stroke: black;
  opacity: 0.8;
  margin-top: -2rem;
}

.submission-alert span {
  font-size: 18px;
  text-align: center;
  line-height: 1.6;
  margin-top: 0.725rem;
}

.submission-alert .error-message span,
.submission-alert .error-message a {
  color: rgb(232, 53, 53);
}

.submission-alert .error-message a {
  text-decoration: underline;
}

.submission-alert .error-message svg {
  color: rgba(232, 53, 53, 0.922);
  fill: transparent;
}

.submission-alert .success-message span,
.submission-alert .loading-message span {
  color: black;
}

.submission-alert .success-message,
.submission-alert .error-message,
.submission-alert .loading-message {
  display: none;
}

.submission-alert .success-message.show,
.submission-alert .error-message.show,
.submission-alert .loading-message.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lds-dual-ring {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-bottom: 1rem;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 32px;
  height: 32px;
  margin: 4px;
  border-radius: 50%;
  border: 4px solid black;
  border-color: black transparent black transparent;
  animation: lds-dual-ring 1.5s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.error-message {
  display: block;
  margin-top: 0.25rem;
}

.spinner_0XTQ {
  transform-origin: center;
  animation: spinner_y6GP 0.75s linear infinite;
}

@keyframes spinner_y6GP {
  100% {
    transform: rotate(360deg);
  }
}