// Theme Colors
$primary: aqua !default;
$secondary: #1ac888 !default;
$white: rgb(255, 255, 255);
$error: #d32752 !default;
$success: #f6c31c !default;

// .test-btn {
//   background-color: map-get($colors, "purple");
// }

//Spacing
$base-padding: 0.75rem !default;
$base-margin: 0.75rem !default;

//Borders
$base-border-thickness: 1px !default;
$base-border-radius: 20px !default;

//Box shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1) !default;

//Font sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75 !default;
$font-size-lg: $base-font-size * 1.5 !default;
$font-size-xl: $base-font-size * 2 !default;
$font-size-xxl: $base-font-size * 3 !default;
