header {
  .logo {
    font-size: 25px;
  }
}

.nav-container {
  position: absolute;
  z-index: 20;
}

.nav {
  display: flex;
  gap: 3rem;
  height: 120px;
  align-items: center;
  color: $white;
  .navigation-menu {
    display: flex;
    gap: 2rem;
  }

  .toggle-icon {
    display: none;
  }
}
